/* java script will add and remove class names of things and css will change colour*/


body{
 font-size: 100%;	
 background: #FFFDF0; 	
}


#simulationOutput{
	position: absolute; 
	bottom: 500px; 
	border: black;
	height: 500px;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	box-shadow: inset -0em -1em 0.5em rgba(0, 0, 0, .1);
	margin: 1%;
    	font-weight: 500;
   	position: relative;  
    	font-size: 225%;
    	padding: 7px;
	border-radius: 5px; 
   	border: solid #B8B8B8 4px;
	color: #282828;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	text-align: center; 
	background: #C2C3CB;
	}
	
h2{
	font-size: 18px; 	
	margin: 7px;
	border-bottom: 2px solid #528B8B;
	margin-bottom: 0px; 
}
h3{
  	font-size: 16px;	
}
.hidden {display: none;}

.visible{display: block;}

form{
   	box-shadow: inset -3em -3em 15em rgba(0, 0, 0, .1);
	background: #EEE8CD; 
	color: #2F4F4F;
 	margin: auto; 
 	position: relative; 
	font-family: font-family: "Book Antiqua", Palatino, serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;	
	border-radius: 10px;
	padding:10px;
	border: 3px solid #778899;
	
}



#firstQu{
	padding-top: 10px;
	margin-left: 8px; 	
}
input.errorButton{
	box-shadow: inset -0em -1em 1em rgba(0, 0, 0, .2);
	position: absolute;
	width: 110px;
	height: 30px;
	background: #E9967A; 
	border: 2px solid #CD2626; 
	border-radius: 20px; 
	color: #CD2626; 
	font-size: 13px; 
	font-weight: bold; 
	right: 20px;
	bottom: 20px;
		
}
.error{
    background: #EEE8CD; 
	color: #CD3333;	
	height: 250px;
	width: 250px;
 	margin: auto; 
 	position: relative; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;	
	border-radius: 10px;
	padding:10px;
	border: 3px solid #CD3333;	
	
}


.radioButton{
	width: 25px; 
	float: none; 
}

.radioDesc, input.radioButton {
	font-size:14px; 
    vertical-align:middle;
    margin: 2px; 
}


select{
	color: #2F4F4F;
	border: 2px solid #607B8B;
	height: 25px;
	width: 50px; 
	border-radius: 7px;
	
}
input{
	border: 2px solid #607B8B;
	height: 20px;
	width: 40px; 
	border-radius: 7px;
}

.continueButton{
	box-shadow: inset -0em -1em 0.8em rgba(0, 0, 0, .2);
	position: absolute;
	color: black; 
	height: 25px; 
	width: 60px; 
	padding: 2px;
	left: 21em;
	bottom: 1px;

}

.continueButton:hover{
	border: solid #4F4F4F 2px; 
}
form.quiz{
	box-shadow: inset 0em -0em 0em rgba(0, 0, 0, .0);
	margin-right: 3px; 
	margin-left: 0.1px; 
	margin-top: 5px;
	position: relative; 
	border-radius: 5px; 
	font-size: 11px;  
	width: 340px; 
	background: #F4F4F4; 
	padding: 3px;
}




.theoryExp{
	margin-right: 3px; 
	border: 3px solid #778899;
	margin-left: 0.1px; 
	margin-top: 5px;
	position: relative; 
	border-radius: 5px; 
	font-size: 11px;  
	width: 340px; 
	background: #F4F4F4; 
	padding: 3px;

}

form.quiz.medium{
	height: 250px; 
}

form.quiz.small{
	height: 180px;
       	font: 12px; 	
}
.explanation{
	padding: 2px;
}
div.check{
	font-size: 12px;
        border: solid 3px #778899;
	border-radius: 3px; 
	width: 344px; 
	padding: 1px;
	color: #2F4F4F;
	height: 142px;
	position: absolute; 
	bottom: 26px;
	left: 1px;
}
.box{
	margin-top: 0px;
	float: left;
}
.quizButton{
	box-shadow: inset -0em -1em 0.8em rgba(0, 0, 0, .2);
	position: absolute;
	padding: 2px;
    	height: 25px; 	
	width: 50px; 
	bottom: 7px; 
	right: 7px; 
	margin: 1px; 
}

.quizButton:hover{
	border: solid #4F4F4F 2px; 
}

.bored{
	float: left; 
	margin-top: -1px; 
}

.checks{
	position: absolute; 
	bottom: 1px; 
}
.correctMsg{
	color: green;
	font-size: 12px; 
	padding: 2px; 
	border: solid green; 
	width: 175px; 
	margin: 1px;
}

.errorMsg{
	color: red; 
	font-size: 12px;
	padding: 2px; 
	border: solid red;
	width: 185px;
}
.noMsg{
	color: black; 
	font-size: 12px;
	padding: 2px; 
	border: solid black;
	width: 175px;
}
#stateNumbers{
	height: 425px;
	width: 400px;
}	

#statePowers{
	width: 500px; 
	 
}



.form5{
	height: 750px; 	
}

.form6{
	height: 840px; 	
}

.form7{
	height: 930px; 	
}

.form8{
	height: 1020px; 	
}

.form9{
	height: 1110px; 
}

.form10{
	height: 1200px; 	
}

#advancedButton1{
	box-shadow: inset -0em -1em 1em rgba(0, 0, 0, .2);
	margin-left: 70px;
	padding: 3px; 
	border-radius: 10px;
	width: 300px; 
	height: 25px;
	background: #D8BFD8;
	font-weight: bold; 
}

#advancedButton1:hover{
	border: grey; 
}
#advancedButton2:hover{
	border: grey; 
}
#advancedButton2{
	box-shadow: inset -0em -1em 1em rgba(0, 0, 0, .2);
	margin-left: 70px;
	margin-bottom: 5px; 
	padding: 3px; 
	border-radius: 10px;
	width: 300px; 
	height: 25px;
	background: #DADAD8;
	font-weight: bold; 
}
#buttonForStates{
	box-shadow: inset -0em -1em 1em rgba(0, 0, 0, .2);
	padding-bottom: 1px;
	width:100px;
	position:absolute;
	right:20px;
	bottom:20px;
	background: #D8BFD8;
	color: #2F4F4F;;
	font-family: Tahoma, Geneva, sans-serif;
	height:30px;
	border-radius: 15px;
	border: 2px solid #778899;
	}
#buttonForStates.changingButton:hover{
	border: 2px solid #104E8B;	
}

#powerButton.changingButton:hover{
	border: 2px solid #2F4F4F;
	background: green;	
}
.changingButton:hover{
	border: 2px solid #8B3A62;
}
#powerButton{
	width:100px;
	position:absolute;
	right:20px;
	bottom:5px;
	background: #D8BFD8;
	color: #2F4F4F;;
	font-family: Tahoma, Geneva, sans-serif;
	height:30px;
	border-radius: 15px;
	border: 2px solid #778899;
	}
	

#numberOfStates{
	display: block;
	float: left; 	
}

#numberOfTurns{
	display: block;	
}

#buttonForStates{
	display: block; 	
}

.powerDesc{
	width: 70px; 
	border: solid black 1px; 
	background: #EEDFCC;
	font-weight: bold; 
	font-size: 13px; 
	color: #282828;
	font-family: "Book Antiqua", Palatino, serif; 
	padding: 1px
}

.powerLabel{
	float: left; 	
	padding: 5px; 
}

.statePowers{
	float: left; 	
	margin: 14px; 
}
 .stateTerritory{
	float: left; 
	margin: 14px; 	 
 }
.territoryLabel{
	float: left; 
	padding: 5px; 	
}

.intellectLabel{
	float: left; 
	padding: 5px; 	
}
.stateIntellect{
	margin: 14px; 
	
}

#backOnceError{
	position: absolute; 
	right: 500px; 	
}
#stateFrame{
	   box-shadow: inset -3em -3em 15em rgba(0, 0, 0, .1);
	   background: #F4F4F4; 
	   position: relative;
	   width: 1195px;
	   height: 491px;
	   border: solid #B8B8B8 4px;
	   float: left;
	   top: 0px; 
	   border-radius: 15px; 
	   right: -5.20%; 
	   }
div.end{
	padding: 0.8em;
}	
.story{
	padding: 0.1px;
	width: 400px; 
	height: 500px; 
	margin: 0px;
	padding-bottom: 10px;
	position: absolute;
	top: 0;
	left: 820px;
	width: 350px; 
	height: 495px;
	font-weight: bold; 
	font-size: 15px; 
	color: #282828;
	font-family: "Book Antiqua", Palatino, serif; 
	
}
 .substory{
	color: black;
	font-weight: normal; 
	font-size: 14px; 
	font-family: "Book Antiqua", Palatino, serif; 
}

#exitButton{
	border-radius: 50%; 
	border: solid 2px #7171C6; 
	color: #7171C6; 
	background; #D1EEEE; 
	float: left; 
	padding: 5px; 
	width: 60px;
	height: 60px; 
	margin: 6px;
}



#backOnceArrow{
	margin-top: -4px; 
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent; 	
	border-right: 30px solid #C2C3CB;; 
	float: left; 
	margin-left: 18.5%; 
	margin-right: 1.6%; 
}
#backwardsOnceButton{
	margin-right: 1.1%; 
	
}

#againOnce{
	margin-right: 1.1%; 
	
}

#exitOnce{
	margin-right: 1.1%; 
	
}

#forwardsOnceButton{
	
}

#forwardOnceArrow{
	margin-top: -4px; 
	box-shadow: inset -0em -5em 5em rgba(0, 0, 0, .6);
	margin-left: 1.6%; 
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid #C2C3CB;
	float: left; 
	margin-right: 50px;
	 
}
.backForthOnce{
	border: solid 2px #5D478B; 
	box-shadow: inset -0em -1em 2em rgba(0, 0, 0, .15);
	color: black;
	float: left; 
	font-size: 77%; 
	font-weight: bold; 
	padding: 1%; 
	width: 13%;
	height: 45px;
	border-radius: 12px;
	font-family: "Times New Roman", Times, serif;
	margin-top: 2.5px; 
}
.backForthOnce.passive{
	background: #C2C3CB;	
}

.backForthOnce.active{
	background: #FFBBFF; 
}
.backForthOnce.active:hover{
	background: #CD96CD;
}


#backwardsButton.backForth{
	border-right: solid 2px #CD6090;
	border-left: none;
}

#forwardsButton.backForth{
	border-left: solid 2px #CD6090;
	border-right: none;
}

#backArrow {
	margin-top: 5px; 
	width: 0; 
	height: 0; 
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent; 	
	border-right: 28px solid #CD6090; 
	float: left; 
}



#forwardArrow {
	margin-top: 5px; 
	width: 0; 
	height: 0; 
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	border-left: 28px solid #CD6090;
	float: left; 
}



.storyButton{
	position: absolute; 
	left: 60px; 
	top: 0px;
	border: solid 2px #CD6090; 
	background: #FFAEB9; 
	color: #8B3A62;
	float: left; 
	padding: 5px; 
	width: 57px;
	height: 33px; 
	margin: 5px; 
}

#backErrorButton.storyButton{
	top: 60px; 	
	left: 0px; 
}

#forwardErrorButton.storyButton{
	top: 60px; 	
	left: 0px; 
}
.storyButton:hover{
	border: 2px solid #8B3A62;
}

.backForth:hover{
	border: 2px solid #8B3A62;
}

.exitButton:hover{
	border: solid 2px #00008B; 
}
form.storyForm{
	border: none; 	
	background: none; 
}
	
.stateGroup{
	position: relative;
	border: none red;
	width: 399px;
	height: 245px;
	float: left;
}

#stateGroupTwo{
	border-right: 2px solid rgba(100, 100, 100, 0.3);	
}

#stateGroupFour{
	border-right: 2px solid rgba(100, 100, 100, 0.3);	
}


.stateImage{
	bottom: 1em; 
	right: -1.7em; 
	position: absolute; 
	width: 3em; 
	height: 3em; 
}
div.state {
 	-webkit-transition: border 2s, background-color 2s, width 2s, height 2s, -webkit-transform 2s; 	
 	-moz-transition: background-color 2s, width 2s, height 2s, -moz-transform 2s; 	
 	-o-transition: background-color 2s, width 2s, height 2s, -o-transform 2s; 	
	    
	padding: 3px;	
	box-shadow: inset -1em -1em 2em rgba(0, 0, 0, .4);
	position: absolute;
	text-align: center; 
	border-radius: 50%;
    float: left;
}



.sphere1{
background: #9AC0CD;	
}

.sphere2{
background: #F08080; 	
}

.alliance100{
background: #EE7600;	

}

.alliance001{
background: #FFC125;

}

.alliance0{
	background: lightgrey;
}

.alliance1{
	background: #B9D3EE; 
}

.alliance2{
	background: #9BCD9B;
}

.alliance3{
	background: #E9967A;
}

.alliance4{
	background: #CD6889; 
	
}
.alliance5{
	background: #EEDC82; 
}

.alliance6{
	background: #FAEBD7; 
}

.alliance7{
	background: #CD8C95;	
}
.bipolar1{
	color: blue; 	
}

.bipolar2{
	color: #CD0000;	
}
.description1{
	color: #483D8B; 
	font-weight: normal; 
	font-weight: normal; 
	font-size: 14px; 
	font-family: "Book Antiqua", Palatino, serif; 
}

.description2{
	color: #006400;
	font-weight: normal; 
	font-weight: normal; 
	font-size: 14px; 
	font-family: "Book Antiqua", Palatino, serif; 
}

.description3{
	color: #8B0000;
	font-weight: normal; 
	font-weight: normal; 
	font-size: 14px; 
	font-family: "Book Antiqua", Palatino, serif; 
}

.description4{
	color: #8B008B; 
	font-weight: normal; 
	font-weight: normal; 
	font-size: 14px; 
	font-family: "Book Antiqua", Palatino, serif; 
}
.description5{
	color: #8B814C; 
	font-weight: normal; 
	font-weight: normal; 
	font-size: 14px; 
	font-family: "Book Antiqua", Palatino, serif; 
}

.description6{
	color: #CDC0B0; 
	font-weight: normal; 
	font-weight: normal; 
	font-size: 14px; 
	font-family: "Book Antiqua", Palatino, serif; 
}

.description7{
	color: #8B5F65; 
	font-weight: normal; 
	font-weight: normal; 
	font-size: 14px; 
	font-family: "Book Antiqua", Palatino, serif; 
}


.allinace100{
	background:#FF7F00;
}
#state1{
	bottom: 1em; 
	right: 1em;	
	
}

#state2{
	bottom: 0.5em; 
	left: 0.5em;	
	
}

#state3{
	top: 1.5em; 
	right: 1em;
	
}

#state4{
	top: 0.5em; 
	left: 1.5em;
}

#state5{
	top: 0; 
	right: 1.5em; 
}

#state6{
	bottom: 0; 
	right: 1.5em; 
}

#state7{
    top: 0.5em; 
    left: 0; 
}	

#state8{
	bottom: 0; 
	left: 3em; 
}

#state9{
	top: 0;
	left: 0;
}

#state10{
	top: 0;
	right: 0;
}

#state11{
	bottom: 0; 
	right: 0;
}

#state12{
	bottom: 0; 
	left: 0; 
}

#state13{
	bottom: 0; 
	left: 0; 
}

#state14{
    top: 0; 
    left: 0; 	
}

#state15{
   top: 0; 
   right: 0; 	
}

#state16{
   bottom: 0; 
   right: 0; 	
}

.stateLabel{
	margin-top: 30%;
}
.power1{
	width: 1.3em; 
	height: 1.3em; 
	margin: 2.7em;
	
}

.power2{
	width: 1.5em;
	height: 1.5em;
	margin: 2.7em;
}

.power3{
	width: 1.70em;
	height: 1.70em; 
	margin: 2.5em;
}

.power4{
	width: 1.90em;
	height: 1.90em; 
	margin: 2.5em;
}

.power5{
	width: 2.1em;
	height: 2.1em; 
	margin: 2em;
}

.power6{
	width: 2.3em;
	height: 2.3em; 
	margin: 2em;
}

.power7{
	width: 2.5em;
	height: 2.5em; 
	margin: 1.5em;
}

.power8{
	width: 2.7em;
	height: 2.7em; 
	margin: 1.5em;
	
	
}
.power9{
	width: 2.9em;
	height: 2.9em; 
	margin: 1.5em;
	
}

.power10{
	width: 3.1em;
	height: 3.1em; 
	margin: 1.5em;
	
}

.power11{
	width: 3.3em;
	height: 3.3em; 
	margin: 1.5em;
}

.power12{
	width: 3.5em;
	height: 3.5em; 
	margin: 1.5em;
}

.power13{
	width: 3.7em;
	height: 3.7em; 
	margin: 1.5em;;
}

.power14{
	width: 3.90em;
	height: 3.90em; 
	margin: 1.5em;
}

.power15{
	width: 4.10em;
	height: 4.10em; 
	margin: 1.5em;
}

.power16{
	width: 4.30em;
	height: 4.30em; 
	margin: 1.25em;
}

.power17{
	width: 4.50em;
	height: 4.50em; 
	margin: 1.25em;
}

.power18{
	width: 4.7em;
	height: 4.7em; 
	margin: 1.25em;
}

.power19{
	width: 4.8em;
	height: 4.8em; 
	margin: 1.25em;
}

.power20{
	width: 4.9em;
	height: 4.9em; 
	margin: 1em;
}

.power21{
	width: 5.0em;
	height: 5.0em; 
	margin: 1em;
}

.power22{
	width: 5.1em;
	height: 5.1em; 
	margin: 1em;
}

.power23{
	width: 5.2em;
	height: 5.2em; 
	margin: 1em;
}

.power24{
	width: 5.3em;
	height: 5.3em; 
	margin: 1em;
}

.power25{
	width: 5.4em;
	height: 5.4em; 
	margin: 1em;
}

.power26{
	width: 5.5em;
	height: 5.5em; 
	margin: 0.75em;
}

.power26{
	width: 5.6em;
	height: 5.6em; 
	margin: 0.75em;
}

.power27{
	width: 5.7em;
	height: 5.7em; 
	margin: 0.75em;
}

.power28{
	width: 5.8em;
	height: 5.8em; 
	margin: 0.75em;
}

.power29{
	width: 5.9em;
	height: 5.9em; 
	margin: 0.75em;
}

.power30{
	width: 6em;
	height: 6em; 
	margin: 0.75em;
}

.power31{
	width: 6.05em;
	height: 6.05em; 
	margin: 0.3em;
}

.power32{
	width: 6.1em;
	height: 6.1em; 
	margin: 0.3em;
}

.power33{
	width: 6.15em;
	height: 6.15em; 
	margin: 0.3em;
}

.power34{
	width: 6.2em;
	height: 6.2em; 
	margin: 0.3em;
}

.power35{
	width: 6.25em;
	height: 6.25em; 
	margin: 0.2em;
}

.power36{
	width: 6.3em;
	height: 6.3em; 
	margin: 0.2em;
}
.power37{
	width: 6.35em;
	height: 6.35em; 
	margin: 0.2em;
}
.power38{
	width: 6.4em;
	height: 6.4em; 
	margin: 0.2em;
}
.power39{
	width: 6.45em;
	height: 6.45em; 
	margin: 0.2em;
}
.power40{
	width: 6.5em;
	height: 6.5em; 
	margin: 0.2em;
}
.power41{
	width: 6.55em;
	height: 6.55em; 
	margin: 0.05em;
}
.power42{
	width: 6.6em;
	height: 6.6em; 
	margin: 0.05em;
}
.power43{
	width: 6.65em;
	height: 6.65em; 
	margin: 0.05em;
}
.power44{
	width: 6.7em;
	height: 6.7em; 
	margin: 0.05em;
}
.power45{
	width: 6.75em;
	height: 6.75em; 
	margin: 0.05em;
}
.power46{
	width: 6.8em;
	height: 6.8em; 
	margin: 0.05em;
}
.power47{
	width: 6.85em;
	height: 6.85em; 
	margin: 0.05em;
}
.power48{
	width: 6.9em;
	height: 6.9em; 
	margin: 0.05em;
}
.power49{
	width: 6.95em;
	height: 6.95em; 
	margin: 0.05em;
}
.power50{
	width: 7em;
	height: 7em; 
	margin: 0.04em;
}

.power51{
	width: 7.05em;
	height: 7.05em; 
	margin: 0.04em;
}

.power52{
	width: 7.1em;
	height: 7.1em; 
	margin: 0.04em;
}

.power53{
	width: 7.15em;
	height: 7.15em; 
	margin: 0.04em;
}

.power54{
	width: 7.2em;
	height: 7.2em; 
	margin: 0.04em;
}

.power55{
	width: 7.25em;
	height: 7.25em; 
	margin: 0.04em;
}

.power56{
	width: 7.3em;
	height: 7.3em; 
	margin: 0.03em;
}
.power57{
	width: 7.35em;
	height: 7.35em; 
	margin: 0.03em;
}
.power58{
	width: 7.4em;
	height: 7.4em; 
	margin: 0.02em;
}
.power59{
	width: 7.45em;
	height: 7.45em; 
	margin: 0.02em;
}
.power60{
	width: 7.6em;
	height: 7.6em; 
	margin: 0.01em;
}


